body {
	background-image: url("../images/psychic.jpg");
	font-family: 'Mystery Quest', cursive;
}

* {
	font-size: 45px;
	color: white;
	text-align: center;
	line-height: 50%;
}

p {
	font-size: 65px;
}

h3 {
	font-size: 50px;
}
